# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_URL=
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=
VERCEL_URL=
SUPABASE_PROJECT_ID=
# CALLBACK_URL_FOR_OAUTH=https://wvjmbjyswzmfwrvzpsel.supabase.co/auth/v1/callback
# GOOGLE_CLIENT_ID=68944797193-nah7ooda4t7rp8aoqv0hi5lvqvddqgri.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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
