# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=
VERCEL_URL=
SUPABASE_PROJECT_ID=
# CALLBACK_URL_FOR_OAUTH=https://<your-supabase-project-ref>.supabase.co/auth/v1/callback
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=


STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_PRO_MONTH=
STRIPE_PRICE_PRO_YEAR=